* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #0b002a;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button a {
    position: relative;
    display: block;
    height: 80px;
    width: 250px;
    color: #FFF;
    line-height: 80px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 2rem;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.button a span:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%)
    }
}

.button a span:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background-image: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s 1s linear infinite;
    
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%)
    }
}


.button a span:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%)
    }
}

.button a span:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-image: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%)
    }
}
